body {
    background-color: #e6e6e6;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.noticia {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(153, 153, 153, 0.5);
    border-radius: 0 0 2px 2px;
    margin-bottom: 15px;

}

.noticia img {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 2px 2px 0 0;
}

.noticia .localizacao .onde {
    color: #333333;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    padding-left: 9px;  
}

.noticia .localizacao .quando {
    color: #999999;
    font-family: 'open sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;    
    margin-left: 11px;   
}

.noticia h2 {
    color:#b5000d;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 7px;  
}

.texto a {
	text-decoration: none;
}

.noticia p {
    color: #333333;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 9px;
    padding-bottom: 25px;
}

/* Fim da Noticia */
/*---------------------------------------------------------------//---------------------------------------*/
/* Inicio Esportes */

.esporte {
    background-color: #000000;
    box-shadow: 0 1px 1px rgba(153, 153, 153, 0.5);
    border-radius: 0 0 2px 2px;
    margin-bottom: 15px;

}

.esporte img {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 2px 2px 0 0;
}

.esporte .localizacao .onde {
    color: #333333;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    padding-left: 9px;  
}

.esporte .localizacao .quando {
    color: #999999;
    font-family: 'open sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;    
    margin-left: 11px;   
}

.esporte h2 {
    color:#18188b;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 7px;  
}

.esporte .texto a {
	text-decoration: none;
}

.esporte p {
    color: #ffffff;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 9px;
    padding-bottom: 25px;
}

/* Fim Esporte */
/*---------------------------------------------------------------//---------------------------------------*/
/* Inicio Politica */

.politica {
    background-color: #000000;
    box-shadow: 0 1px 1px rgba(153, 153, 153, 0.5);
    border-radius: 0 0 2px 2px;
    margin-bottom: 30px;

}

.politica img {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 2px 2px 0 0;
}

.politica .localizacao .onde {
    color: #333333;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    padding-left: 9px;  
}

.politica .localizacao .quando {
    color: #999999;
    font-family: 'open sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;    
    margin-left: 11px;   
}

.politica h2 {
    color:#ffffff;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.politica .texto a h4 {
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 9px;
    text-decoration: none;
    color: #bfbf00;   
    padding-bottom: 10px;
   
}
